<div class="container">
  <h2 class="page-header">Modify device</h2>
  <form (submit)="onUpdateSubmit()">

    <div class="form-group">
      <label for="deviceType">Device type</label>
      <select class="form-control"  id="deviceType"
              required
              [(ngModel)]="deviceType" name="deviceType">
        <option *ngFor="let deviceType of deviceTypeOptions" [value]="deviceType">{{deviceType}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Device ID / DevEUI in format A81758FFFE030F53</label>
      <input required type="text" [(ngModel)]="deviceId" name="deviceId" class="form-control" />
    </div>

    <div class="form-group">
      <label>Description of install location</label>
      <input type="text" [(ngModel)]="description" name="description" class="form-control" />
    </div>

    <div class="form-group">
      <label>Picture of the install location</label>
      <input type="file"  accept="image/*"  [(ngModel)]="image" name="image" class="form-control">
    </div>

    <div class="form-group">
      <label for="status">Status</label>
      <select class="form-control"  id="status"
              required
              [(ngModel)]="status" name="status">
        <option *ngFor="let status of statusOptions" [value]="status">{{status}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="floorLevel">Floor level</label>
      <select class="form-control"  id="floorLevel"
              required
              [(ngModel)]="floorLevel" name="floorlevel">
        <option *ngFor="let floorLevel of floorLevelOptions" [value]="floorLevel">{{floorLevel}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Location</label>
      <input readonly required type="text" [(ngModel)]="location" name="location" class="form-control" />
      <button type="button" class="btn btn-secondary" (click)="goToMap()">Choose on map</button>
    </div>

    <div class="form-group">
      <label>Added by</label>
      <input readonly required type="text" [(ngModel)]="userFullName" name="userFullName" class="form-control" />
    </div>

    <input type="submit" class="btn btn-primary" value="Update" />
  </form>
</div>
