<div class="container">
  <div class="jumbotron text-center">
    <h1>Lentotreenit</h1>
    <p class="lead">Tervetuloa lentotreeneihin!</p>
    <div *ngIf="!authService.loggedIn()">
      <a class="btn btn-primary" [routerLink]="['/register']">Rekisteröidy</a> <a class="btn btn-default" [routerLink]="['/login']">Kirjaudu sisään</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a [routerLink]="['/pplquiz']"><h3>PPL-teoria testi</h3></a>
      <p>PPL-teoria testi sisältää suurimman osan traficomin tarjoamista teoriakokeiden <a href="https://www.traficom.fi/fi/liikenne/ilmailu/ilmailun-teoriakokeiden-harjoituskysymykset">harjoituskysymyksistä</a>. Oikeat vastaukset ja selitykset kysymyksiin ovat käyttäjien tuottamia, joten testin oikea vaihtoehto ei välttämättä ole traficomin mukaan oikea vaihtoehto.</p>
    </div>
    <div class="col-md-6">
      <a [routerLink]="['/home']"><h3></h3></a>
      <p></p>
    </div>
  </div>
</div>
